<div class="container">

	<div class="banner">
		<%= image_tag "logo.png" %>
	</div>

	<div class="contact">
		<div class="contact-text">
			<h1>Contact</h1>
			<p>Je ne réponds pas aux messages sur Instagram. Vous pouvez me contacter par mail à l'adresse <a href="mailto:stostattoos@gmail.com">stostattoos@gmail.com.</a></p>
		</div>
		<div class="contact-picture">
			<%= image_tag "stos2.png" %>
		</div>
	</div>

	<div class="retour">
		<div class="bouton">
			<p><%= link_to("Retour au menu", root_path) %></p>
		</div>
	</div>
	
</div>