<div class="container">

	<div class="banner">
		<%= image_tag "logo.png" %>
	</div>

	<div class="work">
		<p>You can follow my work on Instagram @stos_tattoos</p>
	</div>

	<div class="retour">
		<div class="bouton">
			<p><%= link_to("Retour au menu", root_path) %></p>
		</div>
	</div>

</div>