/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";

body {
    background: black;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

h1, p {
    color: white;
}

a {
    text-decoration: none;
}

i {
    color: white;
    font-size: 50px;
}

i:hover {
    color: grey;
}

.bouton {
    width: 200px;
    height: 35px;
    border-radius: 5px;
    background: white;
    margin: 0 auto;
}

.bouton p {
    line-height: 35px;
}

.bouton a {
    color: black;
}

.bouton:hover {
    background: grey;
}

.title {
    text-align: center;
}

.container {
    text-align: center;
}

.menu, .contact, .about {
    display: flex;
    width: 85%;
    margin: 0 auto;
}

.tattoo {
    margin: 0 auto;
    opacity: 0.7;
}

.tattoo:hover {
    opacity: 1;
}

.tattoo h1 {
    position: relative;
    bottom: 70%;
    background: black;
}

.tattoo a {
    color: white;
}

.tattoo a:hover {
    color: grey;
}

.about-text, .contact-text {
    width: 50%;
}

.retour {
    margin: 80px 0;
}