.contact-text {
	width: 50%;
	a {
		color: white;
	}
	a:hover {
		color: grey;
	}
}

@media screen and (max-width: 820px) {
    .contact {
    	display: block;
    }
    .contact-text {
    	width: 100%;
    }
    .contact-picture {
    	img {
    		width: 100%;
    	}
    }
}